<form action="/cocktails" method="POST">
    <label for="drink">Enter a drink you want to make! :</label>
    <input type="text" id="drink" name="drink" required>
    <button type="submit">Search Drink</button>
</form>  